.selector-a{
    background-color: black;
    width: 300px;
    border: 1px solid red;
    height: 20px;
    color: white;
}
a{
    text-decoration: none;
}

.test-selector-div{
    width: 150px;
    height: 150px;
    background-color: brown;
}

.test-selector-img{
    width: 150px;
    height: 150px;
    
}